body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.btn-white {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  border: 2px solid #834700;
  padding: 15px 20px;
  color: #834700;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
}
.btn-white:hover {
  color: #6a3900;
  border-color: #6a3900;
}
.btn-white:active {
  color: #d2c3b2;
  border-color: #d2c3b2;
}
.btn-brown {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  vertical-align: top;
  background-color: #834700;
  padding: 15px 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.btn-brown:hover {
  background-color: #6a3900;
}
.btn-brown:active {
  background-color: #d2c3b2;
  color: #a08874;
}
.container-1 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-2 {
  width: 1015px;
  margin-left: auto;
  margin-right: auto;
}
.container-2-promo {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background: url(../img/header-back.jpg) no-repeat bottom;
  background-size: cover;
  height: 550px;
  padding-top: 60px;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
.nav-header img {
  float: left;
}
.nav-header nav {
  float: right;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  width: 600px;
}
.nav-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.nav-menu-link:hover {
  color: #ffcb78;
}
.nav-menu-link:active {
  color: #7a6036;
}
.text-header {
  width: 100%;
  text-align: center;
  margin-top: 130px;
}
.text-header p {
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.special-offer {
  padding-top: 90px;
  padding-bottom: 110px;
}
@media (max-width: 768px) {
  .special-offer {
    padding-top: 45px;
    padding-bottom: 55px;
  }
}
.special-offer-header {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .special-offer-header {
    text-align: center;
    padding-bottom: 45px;
  }
}
.special-offer-container {
  display: flex;
  justify-content: space-between;
}
.special-offer-item {
  box-sizing: border-box;
  width: 400px;
  padding: 0 25px 0 35px;
}
.special-offer-item h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .special-offer-item h2 {
    text-align: center;
    padding-bottom: 20px;
  }
}
.special-offer-item-middle-section {
  position: relative;
}
.table-and-desc {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}
.table-and-desc table {
  border-collapse: collapse;
  width: 150px;
  box-sizing: border-box;
}
.table-and-desc table td {
  padding: 10px 10px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
}
.table-description {
  font-size: 14px;
  color: #404040;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.special-offer-item-description {
  line-height: 25px;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #404040;
  margin-top: 20px;
  margin-bottom: 65px;
}
.special-offer-item-bottom-section b {
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}
.promo {
  background-color: #ffcb78;
}
.promo-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0;
  list-style: none;
  flex-direction: row;
}
.promo-item {
  position: relative;
  width: 210px;
  text-align: left;
}
.promo-item h2 {
  margin: 0;
  margin-bottom: 30px;
}
.promo-item p {
  margin: 0;
  line-height: 30px;
}
.promo-item::before {
  display: block;
  width: 65px;
  height: 70px;
  content: "";
  margin-bottom: 20px;
}
.promo-left::before {
  background: url('../img/icon-brew.png') no-repeat;
}
.promo-center::before {
  background: url('../img/icon-matreshka.png') no-repeat;
}
.promo-right::before {
  background: url('../img/icon-thumbsup.png') no-repeat;
}
.history {
  padding-top: 85px;
  padding-bottom: 85px;
}
@media (max-width: 768px) {
  .history {
    padding-top: 42.5px;
    padding-bottom: 42.5px;
  }
}
.hisory-header {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .hisory-header {
    text-align: center;
    padding-bottom: 30px;
  }
}
.history-dl {
  text-align: left;
}
.history-dl dt {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.history-dl dt i {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  float: right;
}
.history-dl dt i a {
  color: #834700;
}
.history-dl dd {
  margin: 0;
  margin-bottom: 70px;
}
.history-dl dd:last-of-type {
  margin-bottom: 0;
}
.history-dl dd img {
  float: right;
}
.history-dl dd p {
  display: inline-block;
  width: 490px;
  margin: 0;
  line-height: 30px;
}
.about-us {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ede5d8;
}
@media (max-width: 768px) {
  .about-us {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.about-us-header {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .about-us-header {
    text-align: center;
    padding-bottom: 45px;
  }
}
.about-us-item {
  position: relative;
  margin: 0;
  text-align: left;
}
.about-us-item p {
  margin: 0;
  line-height: 30px;
  margin-bottom: 45px;
}
.about-us-item cite {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  padding-top: 10px;
}
.about-us-item::before {
  width: 50px;
  height: 35px;
  position: absolute;
  content: "";
  top: 5px;
  left: -100px;
  background: url('../img/quotes.png') no-repeat;
}
/* -----OUR MENU------*/
.our-menu {
  padding-top: 100px;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .our-menu {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}
.our-menu-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .our-menu-title {
    text-align: center;
    padding-bottom: 50px;
  }
}
.our-menu-table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: left;
  text-transform: uppercase;
}
.our-menu-table tr {
  border-bottom: 1px solid #e5e5e5;
}
.our-menu-table tr th {
  padding-bottom: 40px;
  color: #999999;
  font-size: 12px;
  font-weight: normal;
}
.our-menu-table tr td {
  padding: 25px 0;
}
.our-menu-table-col-1 {
  width: 400px;
  font-weight: bold;
}
.our-menu-table-col-2 {
  width: 90px;
}
.our-menu-table-col-3 {
  width: 60px;
}
.our-menu-table-col-5 {
  text-align: right;
}
sup {
  font-size: 8px;
  color: white;
  background-color: black;
  padding: 3px 5px;
  border-radius: 3px;
}
/* -----ORDER FORM------*/
.order-form {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: #ffcb78;
}
@media (max-width: 768px) {
  .order-form {
    padding-top: 42.5px;
    padding-bottom: 55px;
  }
}
.order-form-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .order-form-title {
    text-align: center;
    padding-bottom: 40px;
  }
}
.order-form-text {
  display: block;
  width: 630px;
  margin: 0;
  font-size: 15px;
  margin-bottom: 70px;
  line-height: 30px;
}
.form-order-form {
  width: 630px;
  font-weight: bold;
  text-transform: uppercase;
}
.order-form-group {
  margin-bottom: 25px;
}
.order-form-group-left,
.order-form-group-right {
  display: inline-block;
  width: 290px;
}
.order-form-group-left {
  margin-right: 42px;
}
.order-form-group label {
  display: block;
  margin-bottom: 10px;
}
.order-form-group input[type="text"],
.order-form-group textarea,
.order-form-group select {
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: #e5b66c;
  border: none;
  font: inherit;
}
.order-form-group input[type="text"]:hover,
.order-form-group textarea:hover,
.order-form-group select:hover {
  background-color: #d9ad66;
}
.order-form-group input[type="text"]:focus,
.order-form-group textarea:focus,
.order-form-group select:focus {
  background-color: white;
}
.order-form-group textarea {
  min-height: 120px;
}
.checkbox-area {
  margin-bottom: 40px;
}
.checkbox-area input {
  margin: 0;
  height: 35px;
  width: 35px;
  margin-right: 15px;
}
.form-order-form .btn-brown {
  border: none;
  font: inherit;
}
/* -----FOOOOOTERRRRR-------*/
.footer {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.nav-menu-footer {
  margin-right: 100px;
}
.footer-img {
  padding-left: 40px;
}
.footer-bottom {
  padding-top: 45px;
  height: 75px;
}
.footer-social {
  float: left;
  margin-right: 100px;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  width: 70px;
  font-size: 0;
  border: 1px solid #322d24;
  margin-right: -5px;
}
.social-btn:hover {
  border: 1px solid #ffcb78;
}
.social-btn-in {
  background: url('../img/icon-insta.png') no-repeat 50% 50% #1b1b1b;
}
.social-btn-fb {
  background: url('../img/icon-fb.png') no-repeat 50% 50% #1b1b1b;
}
.social-btn-vk {
  background: url('../img/icon-vk.png') no-repeat 50% 50% #1b1b1b;
}
.footer-text {
  float: left;
  width: 203px;
  color: #989898;
  padding-top: 15px;
  margin-right: 200px;
}
.footer-text p {
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}
.footer-copyright-img {
  float: left;
}
.social-btn-html {
  background: url('../img/htmlacademy.png') no-repeat 50% 50% #1b1b1b;
}
.footer-copyright-text {
  float: right;
  vertical-align: middle;
  color: #989898;
  padding-top: 25px;
  font-size: 14px;
}
.footer-copyright-text a {
  text-decoration: none;
  color: #989898;
}
@media (max-width: 1100px) and (min-width: 768px) {
  .container-2-promo {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .container-1 {
    width: 90vw;
  }
  .special-offer-container {
    flex-direction: column;
  }
  .special-offer-item {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
  }
  .special-offer-item:last-child {
    margin-bottom: 0;
  }
  .special-offer-item-description {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
  .promo-container {
    flex-direction: column;
    justify-content: start;
  }
  .promo-item {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #834700;
  }
  .promo-item p {
    margin-bottom: 30px;
  }
  .promo-item:last-child {
    margin-bottom: 0;
    border-bottom: 0px;
  }
  .promo-item:last-child p {
    margin-bottom: 0;
  }
  .promo-item::before {
    margin-left: auto;
    margin-right: auto;
  }
  .hisory-header {
    padding-bottom: 60px;
  }
  .history-dl {
    text-align: center;
  }
  .history-dl dt {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .history-dl dt i {
    display: block;
    float: none;
    margin-top: 10px;
  }
  .history-dl dd img {
    float: none;
    margin-bottom: 20px;
  }
  .history-dl dd p {
    width: 100%;
  }
}
